@import './base/variables';
* {
    font-family: 'Roboto';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import './blocks/promo';
@import './blocks/header';
@import './blocks/menu';
@import './blocks/hamburger';
@import './blocks/button';
@import './blocks/title';
@import './blocks/line';
@import './blocks/advantages';
@import './blocks/delivery';
@import './blocks/personnel';
@import './blocks/catalog';
@import './blocks/scheme';
@import './blocks/feed';
@import './blocks/carusel';
@import './blocks/form';
@import './blocks/questions';
@import './blocks/pageup';
@import './blocks/footer';
@import './blocks/deliverys';
@import './blocks/modal';
@import './media/media';