@keyframes animateStroke {
    0% {
        stroke-dashoffset: 400;
    }
    100% {
        stroke-dashoffset: 50;
    }
}
@keyframes animate {
    0%
    {
        background:#093E00;
        box-shadow: none;
    }
    50.1%,100%
    {
        background:#0f0;
        box-shadow: 0 0 5px #0f0,
                    0 0 15px #0f0,
                    0 0 30px #0f0,
                    0 0 60px #0f0,
                    0 0 90px #0f0;
                    
    }
}
@keyframes animateText {
    0%
    {
        
        text-shadow: none;
    }
    50.1%,100%
    {
        
        text-shadow: 0 0 5px #0f0,
                    0 0 15px #0f0;
    }
}
@keyframes animateBackgroundCOlor {
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}
@keyframes animateBlick {
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92% 
    {
        color: rgba(151, 206, 238, 0.972);
        box-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100% 
    {
        color: rgba(5, 86, 139, 0.74);
        text-shadow: 0 0 10px #03bcf4,
                0 0 20px #03bcf4,
                0 0 40px #03bcf4,
                0 0 80px #03bcf4,
                0 0 160px #03bcf4;
    }
}

@keyframes animaiteVapour {
    0% 
    {
        transform: translateY(0) scaleX(1);
        opacity: 0;
    }
    15% 
    {
        opacity: 1;
    }
    50% 
    {
        transform: translateY(-150px) scaleX(5);
    }
    95% 
    {
        opacity: 0;
    }
    100% 
    {
        transform: translateY(-300px) scaleX(10);
    }
}



@keyframes animateRot {
    0% 
    {
        transform: rotateY(360deg);
    }
    100% 
    {
        transform: rotateY(0deg);
    }
}
// @keyframes animateShadow {
//     0%,100% 
//     {
//         transform: translateX(-50%) scale(1);
//     }
//     50% 
//     {
//         transform: translateX(-50%) scale(0.2);
//     }
// }
// @keyframes textEntry {
//     0%,5%
//     {
//         transform: translateZ(1500px);
//     }
//     15%,95%
//     {
//         transform: translateZ(0px);
//     }
//     100%
//     {
//         transform: translateZ(1500px);
//     }
// }

