.fifth-screen {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &__wrapper {
        background:#dcdcdc;
        display: flex;
        justify-content: center;
        align-content: center;
        // background:radial-gradient(#ffffff,#6a7b83);
        
        // height: 50vw;
    }
    .container {
        position: relative;
        width: 1200px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
        padding: 20px;
    }
    &__card {
        width: 100%;
        background:white;
        &:hover {
            .action {
                li {
                    transform: translateX(0px);
                }
            }
        }
    }
    &__imgBx {
        position: relative;
        width: 100%;
        height: 310px;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 0.5s ease-in-out;
            &:hover {
                transform: scale(2);
            }
        }
        .action {
            position: absolute;
            top: 10px;
            right: 10px;
            li {
                position: relative;
                list-style: none;
                width: 40px;
                height: 40px;
                background:#fff;
                display: flex;
                justify-content: center;
                align-items:center;
                margin: 4px;
                cursor: pointer;
                transition: transform 0.5s;
                transform: translateX(60px);
                &:nth-child(2) {
                    transition-delay: 0.15s;
                }
                &:nth-child(3) {
                    transition-delay: 0.3s;
                }
                &:hover {
                    background: #ff2020;
                    color: #fff;
                    span {
                        opacity: 1;
                        transform: translateY(-50%) translateX(0px); 
                    }
                }
                span {
                    position: absolute;
                    right: 50px;
                    top: 50%;
                    transform: translateY(-50%) translateX(-20px);  
                    white-space: nowrap;
                    padding: 4px 6px;
                    background: #fff;
                    color: #333;
                    font-weight: 500;
                    font-size: 12px;
                    border-radius: 4px;
                    pointer-events: none;
                    opacity: 0;
                    transition: 1s;
                    &::before {
                        content:'';
                        position: absolute;
                        top: 50%;
                        right: -4px;
                        width: 8px;
                        height: 8px;
                        background: #fff;
                        transform: translateY(-50%) rotate(45deg); 
                    }
                }
            }

        }
    }
    &__content {
        padding: 10px;
    }
    &__productName {
        h3 {
            font-size: 18px;
            font-weight: 500;
            color: #333;
            margin: 5px 0;
        }
    }
    &__price {
        display: flex;
        justify-content: space-between;
        align-items:center;
        h2 {
            font-size: 20px;
            color: red;
            font-weight: 500;
        }
        .fa {
            color: #ffd513;
            cursor: pointer;
        }
        .gray {
            color: gray;
        }
    }
    // &__tw {
    //     position: relative;
    //     display: flex;
        
    //     top: 0;
    //     left: 0;
    //     width: auto;
    // }
    // &__text {
    //     margin-top: 3vw;
    //     // -webkit-text-stroke: 2px rgb(5, 5, 5);
    //     position: relative;
    //     color: rgba(0, 0, 0, 0.91);
    //     font-size: 3vw;
    //     // font-weight: bold;
    //     span {
    //         position: relative;
    //         display: inline-flex;
    //         text-align: center;
    //     }
    //             // -webkit-box-reflect: below 10vw linear-gradient(transparent, #0008);
    // }
    // &__card {
    //     width: 100%;
    //     background:white;
    // }
}









// &__fhoto {
//     position: absolute;
//     bottom: 14.8vw;
//     right: 0;
//     -webkit-box-reflect: below -0.5vw linear-gradient(transparent, #0008);
// }

// &__box {
//     position: relative;
//     width: 100%;
//     transform-style: preserve-3d;
//     left: 29vw;
//     top: 5vw;;
//     // animation: textEntry 6s linear infinite;
// }
// &__shadow {
//     position: absolute;
//     bottom: 5vw;
//     left: 0;
//     transform: translateX(-50%);
//     width: 18vw;
//     height: 2vw;
//     background:radial-gradient(rgba(0,0,0,0.3),transparent,transparent);
//     filter: blur(5px);
//     animation: animateShadow 1s linear infinite;
//     animation-delay: 0.75s;
// }
// &__textBox {
//     position: relative;
//     width: 100%;
//     height: 30vw;
//     transform-style: preserve-3d;
//     animation: animateRot 2s linear infinite;
//     animation-delay: 0.75s;
// }
// &__textRotation {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     backface-visibility: hidden;
//     &:nth-child(2) {
//         color:red;
//         transform: rotateY(180deg);
//     }
//     h2 {
//         font-size: 5vw;
//         color: white;
//     }
// }


// &__box {
//     position: relative;
//     width: 100%;
//     transform-style: preserve-3d;
//     left: 29vw;
//     top: 5vw;;
//     // animation: textEntry 6s linear infinite;
// }
// &__shadow {
//     position: absolute;
//     bottom: 5vw;
//     left: 0;
//     transform: translateX(-50%);
//     width: 18vw;
//     height: 2vw;
//     background:radial-gradient(rgba(0,0,0,0.3),transparent,transparent);
//     filter: blur(5px);
//     animation: animateShadow 1s linear infinite;
//     animation-delay: 0.75s;
// }
// &__textBox {
//     position: relative;
//     width: 100%;
//     height: 30vw;
//     transform-style: preserve-3d;
//     animation: animateRot 2s linear infinite;
//     animation-delay: 0.75s;
// }
// &__textRotation {
//     position: absolute;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     backface-visibility: hidden;
//     &:nth-child(2) {
//         color:red;
//         transform: rotateY(180deg);
//     }
//     h2 {
//         font-size: 5vw;
//         color: white;
//     }
// }
// 

// &__img {
//     width: 23vw;
//     height: 18vw;
//     img{
//         width: 100%;
//     }
// }


// <p class="third-screen__subtext-up">Я <b>начинающий</b> Web програмист.Буквально недавно закончил обучению по <b>HTML</b>,<b>CSS</b> и поверхностно <b>JavaScript</b>. На данный момент продолжаю обучение по полному курсу <b>JavaScript</b> + <b>React</b>.</p>
//                             <p class="third-screen__subtext-dw">Имею огромный жизненный опыт а так же желание работать в команде над проектами компании. Готов реализовывать интересные и сложные проекты.</p>
//                         </div>
//                         <div class="third-screen__subtext-dw">Имею огромный жизненный опыт а так же желание работать в команде над проектами компании. Готов реализовывать интересные и сложные проекты.</div>
//                         <div class="third-screen__text">
//                             <p>Имею огромный жизненный опыт а так же желание работать в команде над проектами компании. Готов реализовывать интересные и сложные проекты.</p>
//                             <p class="third-screen__subtext-dw">Имею огромный жизненный опыт а так же желание работать в команде над проектами компании. Готов реализовывать интересные и сложные проекты.</p>