.seventh-screen {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background: #095a55;
    &:before {
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: #fff38e;
    }
    &__title {
        
        position: absolute;
        color: #095a55;
        top: 0;
        
        font-size: 5em;
        span {
            color: #fff38e;
        }

    }
    .container {
        margin-top: 100px;
        position: relative;
        min-width: 1100px;
        min-height: 550px;
        z-index: 1000;
    }
    &__contactInfoWrapper {
        transform: translateY(none);
    }
    &__contactInfo {
        position: absolute;
        top: 15px;
        // top: 26px;
        width: 250px;
        z-index: 1;
        height: calc(100% - 132px);
        background: #095a55;
        padding: 30px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 20px 25px rgba(0,0,0,0.15);
        h2 {
            color: #fff;
            font-size: 24px;
            font-weight: 500;
        }
        // ul {

        // }
    }
    &__info {
        position: relative;
        margin: 20px 0;
        padding: 15px;
        li {
            position: relative;
            list-style: none;
            display: flex;
            margin: 20px 0;
            cursor: pointer;
            align-items: flex-start;
            span {
                &:nth-child(1) {
                    width: 30px;
                    min-width: 30px;
                    img {
                        width: 100%;
                        // filter: invert(1);
                    }
                }
                &:nth-child(2) {
                    color: #fff;
                    margin-left: 10px;
                    font-weight: 300;
                }
            }
            // img {
            //     width: 100px;
            // }
        }
    }
    &__sci {
        position: relative;
        display: flex;
        li {
            list-style: none;
            margin-right: 15px;
        }
        img {
            width: 50px;
            // filter: invert(1);
        }
        a {
            text-decoration: none;
        }
    }
    &__contactForm {
        position: absolute;
        padding: 39px 16px;
        z-index: 0;
        margin-left: 172px;
        padding: 42px 20px;
        padding-left: 180px;
        width: calc(100% - 398px);
        height: 78%;
        background: #fff;
        box-shadow: 0 20px 25px rgba(70, 56, 56,0.25);
        h2 {
            color: #0f3959;
            font-size: 24px;
            font-weight: 500;
        }
        .formBox {
            position: relative;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 30px;
            input, textarea {
                width: 100%;
                resize: none;
                padding: 10px 0 0 0;
                font-size: 18px;
                font-weight: 300;
                color: #777;
                outline: none;
                border: none;
                border-bottom: 1px solid #777;
            }
            textarea {
                height: 120px;
            }
            .inputBox {
                position: relative;
                margin-bottom: 30px;
                span {
                    position: absolute;
                    left: 0;
                    padding: 5px 0;
                    pointer-events: none;
                    font-size: 18px;
                    color: #777;
                    font-weight: 300;
                    transition: 0.3s;
                }
                input, textarea {
                    &:focus {
                        ~ span {
                            transform: translateY(-20px);
                            font-size: 12px;
                            font-weight: 400;
                            letter-spacing: 1px;
                            color: #095a55;
                            font-weight: 500;
                        }
                    }
                    &:valid {
                        ~ span {
                            transform: translateY(-20px);
                            font-size: 12px;
                            font-weight: 400;
                            letter-spacing: 1px;
                            color: #095a55;
                            font-weight: 500;
                        }
                    }
                }
                input[type="submit"] {
                    position: relative;
                    cursor: pointer;
                    background: #095a55;
                    color: #fff;
                    border: none;
                    max-width: 150px;
                    padding: 12px;
                    &:hover {
                        background: #0d948d;
                    }
                }
            }
            .w50 {
                width: 47%;
            }
            .w100 {
                width: 100%;
            }
        }
    }
    
}